<div class="hover-edit">
  <%= job_application_question.type_form_question_no %>
</div>
<div class="question-form">
  <%= render 'form_type_form_question_no', job_application_question: job_application_question %>
</div>
