<%- model_class = JobApplication -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="table">
  <colgroup>
    <col width="80%">
    <col width="20%">
  </colgroup>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
  </thead>
  <% question_answers = JSON.parse(@job_application.question_answers).sort_by { |hash| hash['question_id'].to_i } %>
  <% question_answers.each do |question_answer_hash| %>
    <tr>
      <td><strong><%= question_answer_hash["question"] %>:</strong></td>
      <td><%= question_answer_hash["answer"] %></td>
    </tr>
  <% end %>
</dl>