<% if admin_user_signed_in? %>
  <li><%= link_to t('.response_messages', default: t('top_menus.links.response_messages')), admins_response_messages_path  %></li>
  <li><%= link_to t('.merchants', default: t('top_menus.links.merchants')), admins_merchants_path  %></li>
  <li><%= link_to t('.reminder_messages', default: t('top_menus.links.reminder_messages')), admins_reminder_messages_path  %></li>
  <li><%= link_to t('.job_application_questions', default: t('top_menus.links.job_application_questions')), admins_job_application_questions_path  %></li>
<% end %>
