.border {
  border-top: 1px solid #dfdfdf;
  margin: 8px 0 0;
  padding: 5px 0 0;
}

.table-input-width {
  width: 80%;
  display: inline;
}

.hover-edit, #organization_name {
  cursor: pointer;
}

.question-form, .modal-organization-name, #organization_name a {
  display: none;
}

.list-group-item {
  margin-bottom: 10px !important;
}

.even {
  background-color: #f5f5f5 !important;
  color: #555555 !important;
  text-decoration: none !important;
}

.sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sortable li {
  margin: 3px 0;
}

.sortable li span {
  position: absolute;
}

.ui-icon {
  margin-top: 2.75em !important;
}

.archive {
  color: red;
}
