.border {
  border-top: 1px solid #dfdfdf;
  margin: 8px 0 0;
  padding: 5px 0 0;
}

.table-input-width {
  width: 80%;
  display: inline;
}

.question-form {
  display: none;
}

.list-group-item {
  margin-bottom: 10px !important;
}

.even {
  background-color: #f5f5f5 !important;
  color: #555555 !important;
  text-decoration: none !important;
}
