<div class="tab-pane" id="more-collaborator">
  <div class="sign-up-steps step2 step3 step4 step6">
    <div class="container inner-main"> 
      <div class="light_shadow_bg text-center">
        <div class="flex-container"> 
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><%= t "devise.invitations.collaborators.is_anyone_else" %></h2>

            <div class="skip-add-btn">
              <ul class="step-bottom-btn-wrap wizard">
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <%= link_to 'Skip', root_path, method: :get, class: 'btn btn-start btn-skip btn-block text-center' %>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6 previous">
                  <a href="javascript:;" class="btn btn-start btn-custom btn-block text-center">Add Else</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
