<%- model_class = User %>
<div class="page-header">
  <h1 id="organization_name">
    <%= current_organization_name || current_user.organization_name %>
  </h1>
</div>

<br>

<%= render 'invite_user_form' %>

<%= render 'invite_users', invite_users: @user_invitations %>
